@page "/projects"
@inherits ProjectsBase
<BasePage ShowSideNav="false">
    <Content>
        <table class="table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Projects)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>
                            <button @onclick=@(() => DeleteProject(@project)) type="button" class="btn btn-icon btn-danger" aria-label="error">
                                <clr-icon shape="error-standard"></clr-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>



        </table>
        <button class="btn btn-primary" @onclick="@ShowNewProjectDialog">Create New Project</button>

       
        <Modal @ref="newProjectDialog" OnConfirm="@NewProjectDialog_Confirm"
        OnCancel="@NewProjectDialog_Cancel" ConfirmText="Create Project">
        <Title>
            New Project
        </Title>
        <Content>

            <form class="clr-form clr-form-horizontal">
                <div class="clr-form-control">
                        <label for="project-name" class="clr-control-label">Project Name</label>
                        <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input @bind="NewProjectName" type="text" id="project-name" placeholder="Enter a project name..." class="clr-input"/>
                                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="clr-subtext">Choose a unique name for your new project.</span>
                        </div>
                    </div>

            </form>
        </Content>
        </Modal>



    </Content>

</BasePage>









@code {


}