@page "/projects"
@inherits ProjectsBase
@using Microsoft.AspNetCore.Components.Web

<BasePage ShowSideNav="false">
    <Content>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Projects)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>
                            <button @onclick="@DeleteProject" type="button" class="btn btn-sm btn-danger" aria-label="error">
                                <clr-icon shape="error-standard"></clr-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>



        </table>

        <button @onclick="ShowMessage">Hello</button>
       <BSButton Color="Color.Primary" OnClick="@NewProjectClicked">Create New Project</BSButton>

    <BSModal  @ref="LiveDemo">
    <BSModalHeader>Modal title</BSModalHeader>
    <BSModalBody><p>Modal body text goes here.</p></BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Primary">Do Something</BSButton>
        <BSButton Color="Color.Secondary">Cancel</BSButton>
    </BSModalFooter>
</BSModal>



    </Content>

    <Title>Projects</Title>


</BasePage>



@code {

 private void ShowMessage(MouseEventArgs e)
    {
        Console.WriteLine("hello2");
    }
}