@page "/system"
@inherits XtmfSystemBase

<BasePage ShowSideNav="false">
    <Content>
        <BSButton Color="Color.Primary" OnClick="@SignIn">primary</BSButton>
    </Content>
    <Title>XTMF System Information</Title>
</BasePage>