@page "/system"
@inherits XtmfSystemBase

<BasePage ShowSideNav="false">
    <Content>
        There is some content here!
        <BSButton Color="Color.Primary">primary</BSButton>
    </Content>
    <Title>XTMF System Information</Title>
</BasePage>