@page "/projects"
@namespace XTMF2.Web.Pages
<BasePage ShowSideNav="false">

    <Content>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Projects)
                {
                    <tr>
                        <td>
                            <NavLink class="nav-link" href=@($"project/{project.Name}")>
                                @project.Name
                            </NavLink>
                        </td>
                        <td>
                            <button @onclick="@(() => DeleteProject(project))" type="button" class="btn btn-sm btn-danger" aria-label="error">

                                <clr-icon shape="error-standard"></clr-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <BSButton Color="Color.Primary" OnClick="@OpenNewProjectDialog">Create New Project</BSButton>

        <InputRequestDialog @ref="InputRequestDialog" DialogTitle="Test" InputName="Project Name" OnSubmit="@OnNewProjectFormSubmit"></InputRequestDialog>

    </Content>

    <Title>Projects</Title>

</BasePage>

@code {

}