@page "/project/{project}"
@inherits XTMF2.Web.Pages.Projects.ProjectsBase
@using Microsoft.AspNetCore.Components.Web

<BasePage ShowSideNav="false">
    <Content>
    </Content>

    <Title>Project - </Title>


</BasePage>

@code {

}
