@page "/project/{ProjectName}"

<BasePage ShowSideNav="false">
    <Content>
        @if (Project != null)
        {
            <div>The project was loaded successfully.</div>
        }
        else
        {
            <BSAlert Color="Color.Danger">
                The project was not loaded or could not be found.
            </BSAlert>
        }
    </Content>
    <Title>Project - @ProjectName</Title>
</BasePage>

@code {
}