#main-content {
    width: 100%;
}

#main-sidebar {
    background-color: #152535;
    min-height: 100vh;
    width: 300px;
}

#main-sidebar .sidebar-logo {
    text-align:center;
    margin: 20px;
}

#main-sidebar a {
    color: white;
}

#main-sidebar .list-group-item {
    background: transparent;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: stretch;
    align-content: stretch;
}