
@namespace XTMF2.Web.Client.Shared
@using Microsoft.AspNetCore.Components.Authorization


<div class="card border-light mb-3">
    <div class="card-body">
        <h4 class="card-title">@Title</h4>
        <div class="row">

            <div class="col-sm-10">

                <div class="content-area">
                    <div class="row">
                    </div>
                    <CascadingValue Value=this>

                            @Content
                    </CascadingValue>
                </div>
            </div>
            <div class="col-sm-2 nav-content">
                @NavContent
            </div>
        </div>
    </div>
</div>

@code {

[CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment NavContent { get; set; }

    [Parameter]
    public RenderFragment Title { get; set; }

    [Parameter]
    public bool ShowSideNav { get; set; }

    [Inject]
    private ISessionStorageService Storage { get; set;}

    protected override async Task OnInitializedAsync() {
        
        await Storage.SetItemAsync("name", "John Smith");
        await Storage.SetItemAsync("name2", "Brendan Reilly");
        var name = await Storage.GetItemAsync<string>("name");
        Console.WriteLine("Read from storage: " + name);
    }
}