@page "/"
<div class="jumbotron">
                <h1 class="display-3">XTMF2</h1>
                <p class="lead">Web interface for XTMF2</p>
                <hr class="my-4">
                <p>Other information is available on separate pages..</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
              </div>