@page "/"

<div class="row">


    <div class="col-8 p-3">
      <div class="card border-primary mb-3">
                <div class="card-header">XTMF2</div>
                <div class="card-body">
                  <p class="card-text">Learn more about XTMF2.</p>
                </div>
              </div>
              </div>
    <div class="col-4 p-3">
      <div class="card border-primary mb-3">
                <div class="card-header">Recent Projects</div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
                                  <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                  Cras justo odio
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in
                </a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus
                </a>
              </div>
              </div>
    </div>
  </div>

