@page "/system"
@namespace XTMF2.Web.Pages
@using Microsoft.AspNetCore.Components.Authorization
<BasePage ShowSideNav="false">
    <Content>
        <AuthorizeView>
 No see dis
</AuthorizeView>
    </Content>
    <Title>XTMF System Information</Title>

    
</BasePage>

